<div class="service text-center">
<div class="container">

    <h1>{{'serviceTitle'|translate}}</h1>
    <div class="row">

        <div class="col-md-6"><img class="s" src="../../../assets/New folder/tt.png" alt=""></div>
    <div class="col-md-6">
<img style="max-width: 100% !important;" src="../../../assets/Group 154.png" alt="">
<h3>{{'Design'|translate}}</h3>
<p>{{'valueD'|translate}}</p>
<button>{{'orderNow'|translate}} </button> 
</div>
    </div>
</div>
    
</div>
<div class="im text-center">
    <div class="container">
        <div class="row"><div class="col-md-7">
       <img src="../../../assets/Group 141.png" alt=""> 
       <h2>{{'servicet42'|translate}}</h2>
       <p>{{'valueD'|translate}}</p>
    <button>{{'orderNow'|translate}} </button>
    </div></div>
<img class="sp" src="../../../assets/New folder/Rectangle 65.jpg" alt="">
<img class="sp2" src="../../../assets/New folder/ball.png" alt="">

</div>
</div>
<div class="furn text-center"><div class="container">
    <div class="row"><div class="col-md-6">
        <div class="furn-box"><img src="../../../assets/New folder/Rectangle 70.png" alt=""></div>
    </div>
<div class="col-md-6">
    <img style="width: 100px;" src="../../../assets/Group 141.png" alt=""> 
       <h2>{{'servicet42'|translate}}</h2>
       <p>{{'valueD'|translate}}</p>
    <button>{{'orderNow'|translate}}</button>
</div>
</div>
<div class="row dd">
    <div class="col-md-6">
        <img style="width: 100px;" src="../../../assets/Group 141.png" alt=""> 
           <h2>{{'servicet42'|translate}}</h2>
           <p>{{'valueD'|translate}}</p>
        <button>{{'orderNow'|translate}} </button>
    </div>
    <div class="col-md-6">
        <img src="../../../assets/New folder/4Z1A0247.png" alt="">
    </div>
</div>
</div></div>