.product{
    background-color: #e9ecef;
    padding-top: 9%;
    height: 90vh;
    
}
.info{
    padding-top: 30px;
    background-color: white;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 40px;
}
.info h2{
    line-height: 1.1;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
.price{
    background-color: white;
    padding-left: 30px !important;
    padding: 10px;
}
.head{
    display: inline-block;
    margin-left: 10px;
}
button{
    margin-top: 7px;
}
button.s{
    width: 148px;
}