<div class="cart">

<div class="row"> <div class="col-8">
  <div  *ngIf="cartItems.length ==0" class="alert alert-danger"> user do not have carts</div>
<table *ngIf="cartItems.length >0" class="table table-striped" > 
  <thead class="thead-dark"><tr><th >no</th><th>product</th><th>price</th><th>count</th><th>amount</th></tr> </thead>
<tr *ngFor="let item of cartItems;index as i"><td>{{i+1}}</td>
<td>{{item.name}}</td><td>{{item.price}}</td>
<td><input style="width: 50px;" (keyup.arrowdown)="decreaseItem(item.id)"  (keyup.arrowup)="AddToCart(item.name,item.price,1,item.productId)" [(ngModel)]="item.amount" type="number"></td>
<td >{{item.price*item.amount}} </td>




</tr>

</table></div>
<div class="col">

    <h3>Total ${{this.totalPrice}}</h3>

    <ul class=" lists ">
       
        <li 
            routerLinkActive="active">
          <a (click)="shop()" >continue Shopping</a>
        </li>
        <li>
      <a  (click)="clear()" >clear cart </a>
    </li>
       
      </ul>
</div>
</div></div>