<div class="contact">
  <div class="container">
    <h2>{{ "contactT" | translate }}</h2>
    <p>{{ "contactD" | translate }}</p>
    <div class="row">
      <div class="col-md-3">
        <div class="box">
          <h5>{{ "contactT5" | translate }}</h5>
          <p>{{ "contactD2" | translate }}</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box2">
          <h5>{{ "contactT52" | translate }}</h5>
          <p>{{ "contactD3" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/blog/map.jpg" alt="" />
      </div>
      <div class="col-md-6">
        <div class="contact-box">
          <h2>{{ "contactT2" | translate }}</h2>
          <div class="form-group">
            <label>{{ "Name" | translate }}</label>
            <input type="email" class="form-control col-md-8" />
          </div>
          <div class="form-group">
            <label>{{ "phone number" | translate }}</label>
            <input type="number" class="form-control col-md-8" />
          </div>
          <div class="form-group">
            <label>{{ "Email" | translate }}</label>
            <input type="email" class="form-control col-md-8" />
          </div>
          <div class="form-group">
            <label>{{ "your message" | translate }}</label>
            <textarea class="form-control"></textarea>
          </div>
          <button>{{ "Send message" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
