<div  class="about">
    <div class="container">
<h1>{{'aboutT'|translate}}</h1>
<p>{{'aboutD'|translate}}</p></div>
</div>
<div class="vision"><div class="container">
    <div class="row">
    <div class="col-md-6"><img src="../../../assets/New folder/cup.png" alt=""></div>
<div class="col-md-6">
    <div class="vision-box">
    <h1>{{'missionT'|translate}}</h1>
    <p>{{'visionD'|translate}}</p></div>
<div class="vision-box">
    <h1>{{'visionT'|translate}}</h1>
    <p>{{'visionD'|translate}}</p></div>
</div></div></div></div>

<div class="value text-center"><div class="container">

    <h1>{{'valueT'|translate}}</h1><div class="row">
    <div class="col-md-4">
        <div class="value-box">
            <img src="../../../assets/Group 132.png" alt="">
            <h4>{{'valueT4'|translate}}</h4>
            <p>{{'valueD'|translate}} </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="value-box">
            <img src="../../../assets/Group 122.png" alt="">
            <h4>{{'valueBT4'|translate}}</h4>
            <p>{{'valueD'|translate}} </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="value-box">
            <img src="../../../assets/Group 129.png" alt="">
            <h4>{{'valueBT42'|translate}}</h4>
            <p>{{'valueD'|translate}} </p>
        </div>
    </div></div>

    <div class="redfine">
        <h2>{{'redfineT2'|translate}}
        </h2>
        <p>{{'redfineB'|translate}}</p>
    </div>
</div></div>
<div class="success ">
    <div class="container">
    
        <h1 *ngIf="togleShow"> {{'successT4'|translate}}</h1>
        <h2 *ngIf="!togleShow" > {{'successT4'|translate}}</h2>
        <div class="photos"><img src="../../../assets/New folder/Group 27.png" alt=""></div>
    </div>
    
    </div>