<div class="products text-center">
    <div class="container">
    <h2> {{'products'|translate}}
    </h2>
    <ul class="d-flex flex-column flex-lg-row list-unstyled">
        <li (click)="this.products=this.filterProducts; this.selectedCatogry=0;this.selectedPrice=0" >All </li>
  
        <li (click)="filter(catogry.name)"  *ngFor="let catogry of catogries">{{catogry.name}} </li>
      
        <li><select [(ngModel)]="selectedCatogry" (change)="filterByCatogry()" name="catogry" >
            <option disabled  value="0">catogry</option>
  
            <option *ngFor="let catogry of catogries" value="{{catogry.name}}">{{catogry.name}}</option>
          
  
        </select></li>
        <li><select [(ngModel)]="selectedPrice"  (change)="filterByPrice() "name="price" >
            <option disabled value="0">price</option>
            <option *ngFor="let price of prices" value="{{price}}">{{price}}</option>
  
        </select></li>
  
    </ul>
    <div class="row">
        <div class="col-md-3 product"*ngFor="let product of products| slice:0:count;index as i">
            <div class="product-box">
  <img src="../../../assets/{{product.img}}" alt="">
  <h5>{{product.name}}</h5>
  <h5>price $ {{product.price}}</h5>
  <button *ngIf="isLoged&&!isAdmin" class="btn b" (click)="AddToCart(product.name,product.price,1,product.id)">{{'Add-to-cart'|translate}}</button> 
  <button class="btn btn-primary s" routerLink="/products/{{product.id}}">{{'more info'|translate}}</button>
  <button *ngIf="isAdmin" (click)="deleteProduct(i,product.id)" class="btn btn-warning s">delete product</button>

        </div></div>
      
       
    </div>
    <button *ngIf="count<16&&this.selectedCatogry==0&&this.selectedPrice==0&&filterProducts.length==products.length" (click)="count=products.length" class="mx-auto more">{{'serviceBoxB'|translate}}</button>
  </div></div>