<div class="footer">
<div class="container">
<div class="row">
<div class="col-md-4">
    <div class="logo"><img src="../../../assets/logo.png"></div>
    <p>{{'footerD'|translate}}</p>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-4"><ul class="list-unstyled"><li>{{'Services'|translate}}</li><li>{{'products'|translate}}</li><li>{{'About'|translate}} </li></ul></div>
        <div class="col-4"><ul class="list-unstyled"><li>{{'blog'|translate}}</li><li>{{'clients'|translate}}</li><li>{{'Partners'|translate}} </li></ul></div>
        <div class="col-4"><ul class="list-unstyled"><li>{{'career'|translate}}</li><li>{{'Contact'|translate}} </li></ul></div>

    
    </div>
</div>
<div class="col-md-4">
    <h3>{{'Subscribe'|translate}}</h3>
    <input type="email" placeholder="Email">
    <button>{{'send'|translate}}</button>
</div>

</div>
<hr>
<div class="copy-right">
    <div class="row"><div class="col-8">
        <p>{{'copyRD'|translate}} <span>{{'copyRS'|translate}} </span> </p>
    </div>
<div class="col-4"><i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>

</div>
</div>
</div>
</div>

</div>